<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        mollitia provident pariatur doloribus consequatur soluta magni
        voluptate, odio nesciunt dignissimos atque eaque ducimus cum officia
        aliquid vitae neque, inventore illo.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        mollitia provident pariatur doloribus consequatur soluta magni
        voluptate, odio nesciunt dignissimos atque eaque ducimus cum officia
        aliquid vitae neque, inventore illo.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        mollitia provident pariatur doloribus consequatur soluta magni
        voluptate, odio nesciunt dignissimos atque eaque ducimus cum officia
        aliquid vitae neque, inventore illo.
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
